<% if user_signed_in? %>
<% user = current_user %>
<% end %>

<%= form_with(model: task) do |form| %>
  <div class="mb-3 row">
    <div class="col-8">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  
    <div class="col-4">
      <%= form.label :hour, class: "form-label" %>
      <%= form.number_field :hour, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :reason, class: "form-label" %>
    <%= form.text_area :reason, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :before_situation, class: "form-label" %>
    <%= form.text_area :before_situation, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :after_situation, class: "form-label" %>
    <%= form.text_area :after_situation, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :after_action, class: "form-label" %>
    <%= form.text_area :after_action, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :other, class: "form-label" %>
    <%= form.text_area :other, class: "form-control" %>
  </div>

  <div class="text-center m-3">
    <%= form.submit "送信", class: "btn btn-warning" %>
  </div>
<% end %>
